.form{
    background-color: var(--colorTerciario);
    padding: 2rem 3rem 0 3rem;

}
.form img{
    display: none;
}

.contacto__pregunta{
    margin: 1rem 0 2rem;
}

.formulario{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.formulario input{
    border: none;
}

.formulario textarea{
    border: none;
}

.enviarBtn{
    width: 13.3rem;
    height: 4rem;
    background-color: var(--colorCuatro);
    color: var(--colorTerciario);
}

@media  only screen and (min-width: 1024px) {
    .form{
        display: flex;
        padding: 5rem;
        align-items: flex-start;
        justify-content: flex-end;
    }
    .form__general{
        padding: 2rem;
    }
    .form img{
        display: flex;
        width: 40%;
    }
}